aside {
    float: left;
    width: 30%;

}

article {
    float: left;
    padding: 20px;
    width: 70%;

}

img {
    width: 100%;
}


ul {
    display: inline-flex;
    list-style: none;
 
   

}

li {
    padding-right: 50px;
  
}


a:hover {
    color: chartreuse;
}
a:visited {
    color: red;;
}
